/************************************************
*			     BODY    						*
*************************************************/
body {
	background: #bdc3c7;
}

h1 {
	color: #34495e;
}

/************************************************
*			 INSTAFEED							*
*************************************************/
#instawrap {
	margin: 0 15%;
	text-align: center;
}

#instawrap img {
	border-radius: 7%;
	padding: 2px;
}